<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">CAD</h1>
    <p class="lead">login </p>
    <hr>
   
  </div>
  
  <div class="patient" id="example1">
  <p class="lead">patient</p>
  <a class="btn btn-light btn-lg" href="/PATIENTregister" role="button">Register</a><br>
  <a class="btn btn-dark btn-lg" href="/PATIENTlogin" role="button">Login</a>
</div>
<div class="professional">
  <p class="lead">professional</p>
  <a class="btn btn-light btn-lg" href="/register" role="button">Register</a><br>
  <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
</div>
</div>

<%- include('partials/footer') %>
